<% provide(:title, "Staff service") %>
<div class="staff">
  <!-- 検索 -->
  <div class="select-staff">
    <%= form_for(:session, url: login_path) do |f| %>
      <p>インストラクター名</p>
      <%= f.collection_select :id, @staff, :id, :name, :include_blank => true %>
    <% end %>
  </div>
  <div class="member-list">
    <table class="user-table">
    <% @user.each do |user| %>
      <tr>
        <th><%= user.name %></th>
        <td><%= link_to("詳細", "/users/#{user.id}") %></td>
      </tr>
    <% end %>
    </table>
  </div>
</div>
