@import "bootstrap-sprockets";
@import "bootstrap";


@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}
.page-title {
  background: lightgray;
  text-align: center;
  margin: 30px auto;
}

.btn {
  margin-top: 20px;
  width: 50%;
}

/* login */
.login label{
  margin-top: 10px;
}
