@import "bootstrap-sprockets";
@import "bootstrap";


@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

li {
  list-style: none;
}

h2 {
  text-align: center;
  font-size: 18px;
}

th,td, p, label, .form-control, .btn{
  font-size: 8px;
}

th, td {
  border: 1px solid gray;
  padding: 5px 10px;
}

table {
  width: 100%;
}

label {
  margin-top: 15px;
}

.page-title {
  background: lightgray;
  text-align: center;
  margin: 30px auto;
}

.page-title h1 {
  font-size: 18px;
}

.btn {
  margin-top: 20px;
  width: 50%;
}

/* login */
.login label{
  margin-top: 10px;
}

/* 予約管理 */
.res-manage .selectdate {
  background: #e6e6e6;
  border-radius: 5px;
}

.res-manage .container {
  margin: 20px auto;
}

/* 予約詳細 */
.reservation_list{
  table{
    text-align: center;
    width: 30%;
  }
}

/* 予約登録 */
.reservation-input {
  width: 70%;
  margin: 0 auto;
  p {
    text-align: center;
  }
}

/* スタッフ業務 */
.staff {
  width: 30%;
  margin: 0 auto;
}

.member-list {
  margin-top: 20px;
}

.user-table{
  th, td {
    text-align: center;
  }
}

/* 顧客管理 */
.custom-manage {
  table {
    margin-top: 20px;
  }
  p {
    float: right;
  }
}

/* 顧客情報編集 */
.custom-edit {
  width: 70%;
  margin: 0 auto;
}

/* 予約履歴 */
.reservation-history {
    tr,th,td {
    border: none;
    padding: 5px  20px;
  }
}
.reservation-history .table-border {
  border: 1px solid gray;
}

/* 物販購入履歴 */
.material-history {
  th,td {
    padding: 5px  20px;
    border: 1px solid gray;
  }
}

/* footer */
footer {
  text-align: center;
  border-top: 1px solid lightgray;
  margin-top: 30px;
  font-size: 8px;
}

footer li {
  display: inline-block;
}

footer li:first-child {
  border-left: none;
}

@media screen and (min-width: 768px) {
  .page-title h1 {
    font-size: 36px;
  }

  .page-title p {
    font-size: 20px;
  }

  h2 {
    font-size: 26px;
  }

  p, th,td, footer li , label, .form-control, .btn{
    font-size: 16px;
  }

  .user-table {
    tr,th,td{
      padding: 10px 30px;
    }
  }
} /* ----- media END ----- */
