@import "bootstrap-sprockets";
@import "bootstrap";


@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

li {
  list-style: none;
}

h2 {
  text-align: center;
}

.page-title {
  background: lightgray;
  text-align: center;
  margin: 30px auto;
}

.btn {
  margin-top: 20px;
  width: 50%;
}

/* login */
.login label{
  margin-top: 10px;
}

/* 予約管理 */
.res-manage .selectdate {
  background: #e6e6e6;
  border-radius: 5px;
}

/* スタッフ業務 */
.select-staff p {
  float: left;
  margin-right: 30px;
}

.member-list {
  margin-top: 30px;
}
.user-table tr,th,td{
  padding: 20px 40px;
  border: 1px solid gray;
}

/* 顧客管理 */
.custom-manage table {
  margin-top: 20px;
}

.custom-manage p {
  float: right;
}

/* 顧客情報編集 */

/* footer */
footer {
  text-align: center;
  border-top: 1px solid lightgray;
  margin-top: 30px;
}

footer li {
  display: inline-block;
}

footer li:first-child {
  border-left: none;
}
