<% if logged_in? %>
<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav>
      <div class="collapse navbar-collapse target">
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Home", home_path %></li>
          <li><%= link_to "About", about_path %></li>
          <li><%= link_to "Res", resevation_path %></li>
          <li><%= link_to "Log out", logout_path, method: :delete %></li>
        </ul>
      </div>
    </nav>
  </div>
</header>
<% end %>
