
<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav>
      <div class="collapse navbar-collapse target">
        <% if logged_in? %>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "予約管理", home_path %></li>
          <li><%= link_to "スタッフ業務", staff_path %></li>
          <% if @current_user %> <!--　顧客が特定されている場合のみ表示 -->
            <li><%= link_to "顧客管理", "/users/#{@current_user.id}" %></li>
          <% end %>
          <li><%= link_to "ログアウト", logout_path, method: :delete %></li>
        </ul>
        <% end %>
      </div>
    </nav>
  </div>
</header>
